@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0 98%;
    --foreground: 20 14.3% 4.1%;
    --card: 0 0 98%;
    --card-foreground: 20 14.3% 4.1%;
    --popover: 0 0 98%;
    --popover-foreground: 20 14.3% 4.1%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 24.6 95% 53.1%;
    --radius: 0.75rem;

    --sidebar-background: 0 0 94%; 
    --sidebar-foreground: 20 14.3% 4.1%;  
    --sidebar-primary: 224 76% 48%; 
    --sidebar-primary-foreground: 0 0 100%;
    --sidebar-accent: 60 4.8% 95.9%;
    --sidebar-accent-foreground: 20 14.3% 4.1%;
    
   
    --sidebar-border: 210 15% 84%;    
    --sidebar-ring: 210 10% 72%;      
  }
  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;
    --card: 24 9.8% 10%;
    --card-foreground: 0 0% 95%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 95%;
    --primary: 24.6 95% 53.1%;
    --primary-foreground: 60 9.1% 97.8%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 15%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 12 6.5% 15.1%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 142.4 71.8% 29.2%;
    --radius: 0.75rem;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  input:-webkit-autofill { 
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
  }

    /* Barra de rolagem no Chrome, Safari, Edge Chromium, Opera... */
  ::-webkit-scrollbar {
    overflow: hidden !;
    width: 8px; /* Espessura da barra */
  }

  ::-webkit-scrollbar-track {
    background-color: #2b2b2b; /* Cor de fundo do trilho */
    border-radius: 20px;
    overflow: hidden !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #555; /* Cor do “polegar” */
    border-radius: 20px;     /* Bordas arredondadas */
  }

  /* Ao passar o mouse (hover) */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #444;
  }

  /* Remover totalmente as setinhas de scroll */
  ::-webkit-scrollbar-button {
    display: none; /* some com os botões de cima/baixo */
  }

  ::-webkit-scrollbar-button {
    display: none !important; 
  }

  /* Se quiser remover aquele cantinho, no caso de scroll horizontal + vertical */
  ::-webkit-scrollbar-corner {
    background: transparent !important;
  }
}
